/* syntax toggler */
.button.toggleSyntaxButton {
  display: flex;
  padding: 0;
  cursor: pointer;
  z-index: 100;
  font-size: 10px;
  border: 1px solid white;
  background: #a1639f;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.toggleSyntaxButton span {
  padding: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.syntax__ocaml .toggleSyntaxButton-ocaml,
.syntax__reason .toggleSyntaxButton-reason {
  background: white;
  color: #a1639f;
  box-shadow: 0 0 10px white;
}

.syntax__reason .hljs.language-ocaml,
.syntax__ocaml .hljs.language-reason {
  display: none;
}
.syntax__reason .homeCodeSnippet-ocaml,
.syntax__ocaml .homeCodeSnippet-reason {
  display: none;
}

/* end syntax toggler */

@media (max-width: 910px) {
  /* remove the word BuckleScript from the header when the screen's too small */
  .headerWrapper.wrapper > header > a > h2 {
    display: none;
  }
}

/* community examples page */
.community-examples-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-evenly;
}

.community-examples-grid > a > div {
  text-align: center;
}

.productShowcaseSection .logos img {
  max-height: 70px;
  width: 70px;
}

/* overrides. Most of these should be upstreamed into docusaurus */

.quickStartAndExamples .blockImage {
  max-width: 226px;
  box-shadow: 0px 0 20px lightgrey;
  margin-bottom: 0;
}

.quickStartAndExamples .blockContent h2 {
  margin: 8px 0 0 0;
}

.quickStartAndExamples .examples {
  margin-left: 0px;
}

.quickStartAndExamples .blockimage img {
  border-radius: 4px;
}

.homeBanner {
  color: white;
  background: black;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.homeBanner a {
  color: white;
  text-decoration: underline;
}

/* end override */
